/* lottecinema - login */
.quick_wrap {
    position: absolute;
    z-index: 11;
    right: 20px;
    padding-top: 50px;
    width: 82px;
    text-align: center;
}
.quick_wrap .quick_menu {
    overflow: hidden;
    background: #fff;
    width: 76px;
    padding-top: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 91;
    text-align: center;
    -webkit-border-radius: 4px;
}
.quick_wrap .quick_menu a {
    display: block;
    padding: 5px;
}
.quick_wrap .quick_menu .qick_top {
    background: #3A3A3A;
    font-family: 'Roboto';
    font-size: 11px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 10px;
    padding-left: 13px;
}

#contents.contents_member_comn {padding-top: 105px;}

.tab_wrap {position: relative;}
.tab_wrap.outer {padding-top: 80px;}
.tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 2px solid #111;
    color: #000;
}
.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
}
.tab_wrap > li > .tab_tit {border: none;}
.tab_wrap > li > .tab_tit {
    position: absolute;
    top: 0;
}
.tab_wrap > li > .tab_tit span {
    vertical-align: top;
    white-space: nowrap;
}
.tab_wrap > li.active > .tab_con {
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
}
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.member_login_wrap {
    padding: 60px 0;
    background-color: #F5F5F5;
}
.member_login_wrap .contents_inner {position: relative;}
.member_login_wrap .login_box {
    position: relative;
    width: 470px;
    min-height: 220px;
    -webkit-box-sizing: border-box;
}
.member_login_wrap .login_box .tip {font-size: 15px;}
.member_login_wrap .login_box .login_area {
    position: relative;
    margin-top: 21px;
    padding-right: 120px;
}
.member_login_wrap .login_box .login_area input {
    display: block;
    width: 100%;
    height: 45px;
}
.member_login_wrap .login_box .login_area input + input {margin-top: 10px;}
.member_login_wrap .login_box .login_area .btn_login {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 100px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    background-color: #FF243E;
}
.member_login_wrap .login_box .login_bot_wrap {margin: 15px 0 40px;}
.member_login_wrap .login_box .login_bot_wrap .login_check {float: left;}
.member_login_wrap .login_box .login_bot_wrap .login_check label {min-width: 88px;}
input[type="radio"] + label, input[type="checkbox"] + label  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    border: 1px solid #DDD;
    background-color: #fff;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: -5px;
    border-radius: 3px;
}
.member_login_wrap .login_box .login_bot_wrap .login_menu {
    float: right;
    font-size: 0;
    line-height: 20px;
}
.member_login_wrap .login_box .login_bot_wrap .login_menu a:first-child {margin-left: 0;}
.member_login_wrap .login_box .login_bot_wrap .login_menu a {
    position: relative;
    margin-left: 20px;
    color: #666;
    font-size: 12px;
}
.member_login_wrap .login_box .login_bot_wrap .login_menu a:after {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    margin-top: -5px;
    width: 1px;
    height: 10px;
    background: #ddd;
}
.member_login_wrap .login_box .login_bot_wrap:after {
    display: block;
    content: '';
    clear: both;
}
.member_login_wrap .login_box .login_ad {text-align: right;}

.member_login_wrap .ad_box {
    position: absolute;
    right: 0;
    top: 20px;
    width: 451px;
    height: 220px;
}
.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    color: #7F7F7F;
}

button > * {position: relative;}


/* lottecinema - register */
.tab_warp {position: relative;}
.tab_wrap.outer {padding-top: 80px;}

.tab_wrap.outer > li.active > .tab_tit {
    border-bottom: 2px solid #111;
    color: #000;
}
.tab_wrap.outer > li > .tab_tit {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.tab_wrap > li > .tab_tit {border: none;}
.tab_wrap > li > .tab_tit {
    position: absolute;
    top: 0;
}
.tab_wrap > li > .tab_tit span {
    vertical-align: top;
    white-space: nowrap;
}

.tab_wrap > li.active > .tab_con {
    overflow: inherit;
    position: relative;
    width: auto;
    height: auto;
}
.hidden {
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.contents_lpoint .join_wrap {margin-top: 55px;}
.contents_lpoint .join_wrap .step_tit {
    font-size: 20px;
    margin-bottom: 10px;
}
.contents_lpoint .join_wrap .step_tit .step {
    display: block;
    background: #23363D;
    width: 104px;
    height: 26px;
    line-height: 26px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    vertical-align: text-bottom;
    -webkit-border-radius: 4px;
}
.contents_lpoint .join_wrap p {
    display: inline-block;
    font-size: 15px;
    line-height: 1.4;
}
.contents_lpoint .join_wrap .btn_join {
    float: right;
    background: #2AA3FE;
    margin-top: -15px;
    width: 180px;
}

.btn_col1.ty6, .btn_col2.ty6, .btn_col3.ty6, .btn_col4.ty6, .btn_col5.ty6, .btn_col6.ty6, .btn_col7.ty6, .btn_col8.ty6, .btn_col9.ty6, .btn_col10.ty6 {
    height: 45px;
    line-height: 43px;
    padding: 0 18px;
}
.btn_col7 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #0EAFEE;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
}
.contents_lpoint .join_wrap .btn_join:before {
    content: '';
    background: url('../img/join_16_new.png') no-repeat 50% 50%;
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
}

.contents_lpoint .inner_table {
    border-left: 0 none;
    border-bottom: 1px solid #DDDDDD;
    padding: 35px 40px;
    vertical-align: top;
    letter-spacing: -1px;
}
.inner_table {margin: 20px 0;}
.contents_lpoint .inner_table th {
    background: #ffffff;
    border-right: 0 none;
    font-size: 18px;
    padding: 22px 0;
}
.inner_table thead th, .inner_table th {
    font-size: 13px;
    border-right: 1px solid;
    border-color: #DDDDDD;
    padding: 16px 0;
    text-align: center;
}
.inner_table tbody td, .inner_table td {
    border-right: 1px solid;
    border-color: #DDDDDD;
    padding: 16px 0;
}
.inner_table thead th {border-top: 1px solid;}
.inner_table th {background: #F8F8F8; border-bottom: 1px solid;}
.contents_lpoint .inner_table td {
    border-right: 0 none;
    border-bottom: 0 none;
    padding: 35px 40px;
    vertical-align: top;
}
.inner_table td {border-bottom: 1px solid;}
.text_l {text-align: left !important;}
.list_txt {font-size: 13px;}
.list_txt > li {
    line-height: 1.4;
    margin: 0 0 5px 8px;
    text-indent: -8px;
    color: #333;
}
.list_txt > li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 5px 0 0;
    border-radius: 50%;
    vertical-align: top;
    background-color: #666;
}
.contents_lpoint .inner_table td .tit {
    margin: 25px 0 15px;
    color: #707070;
}
.contents_lpoint .inner_table td .list_txt.sm {padding-left: 5px;}
.contents_lpoint .inner_table td .list_txt.sm li {color: #777;}

.contents_lpoint .inner_table td .btn_col3 {width: 200px;}
.btn_col3.ty7 {
    height: 52px;
    line-height: 50px;
    padding: 0 24px;
}
.btn_col3 {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #000000;
    font-size: 14px;
    color: #000000 !important;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}
.ico_lpoint {
    display: inline-block;
    background: url('../img/txt_lpoint.png') no-repeat 50% 50%;
    width: 66px;
    height: 16px;
    margin-right: 5px;
    text-indent: -9999em;
    font-size: 0;
    vertical-align: middle;
}
.ico_lpoint em {
    text-indent: -9999em;
    font-size: 0;
}


/* lottecinema - membervip */
#contents.contents_vipzone:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 114px;
    height: 280px;
    background: url('../img/bg_vipzone.jpg') repeat-x;
}
#contents.contents_vipzone > .vip_title {
    margin-bottom: 50px;
    text-align: center;
}
.vip_top_infor {
    overflow: hidden;
    position: relative;
    margin: 0 auto 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background-color: #FFF;
}
.vip_top_infor .nomem_page_box {
    margin: 40px 38px 62px;
}
.vip_top_infor .nomem_page_box .user_info .bx_con {
    margin-bottom: 20px;
    text-align: center;
}
.vip_top_infor .nomem_page_box .user_info .bx_con .profile_img {
    display: none;
    overflow: hidden;
    width: 75px;
    height: 75px;
    margin: 0 auto 8px;
}
.profile_img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    overflow: hidden;
}
.profile_img img {width: 100%;}
.vip_top_infor .nomem_page_box .user_info .bx_con .txt {
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}
.vip_top_infor .nomem_page_box .user_info .bx_con .txt strong {
    font-weight: bold;
    color: #000;
}
.btn_col3.rnd {border-radius: 52px;}
.btn_col3.ty3 {
    height: 28px;
    line-height: 26px;
    padding: 0 14px;
}
.vip_top_infor .nomem_page_box .user_info .bx_btm {
    position: relative;
    text-align: center;
}
.vip_top_infor .nomem_page_box .user_info .bx_btm .btn_lnk2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
a.btn_lnk2 {
    border-bottom: 1px solid #666;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
}

.rank_2020_wrap {margin-top: 50px;}
.rank_2020_wrap > .tit {font-size: 18px;}
.rank_2020_wrap .rank_2020_list_ty2 {
    position: relative;
    margin-top: 20px;
    border-top: 1px solid #bbb;
}
.rank_2020_wrap .rank_2020_list_ty2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 79px;
    width: 100%;
    height: 1px;
    background-color: #bbb;
}
.rank_2020_wrap .rank_2020_list_ty2 dl.tit {width: 12%;}
.rank_2020_wrap .rank_2020_list_ty2 dl {
    float: left;
    width: 22%;
    text-align: center;
}
.rank_2020_wrap .rank_2020_list_ty2 dl dt {
    margin-bottom: 16px;
    padding-top: 40px;
}
[class^="ic_2020_"] {background-repeat: no-repeat;}
[class*="txt_2020_rank"] {
    display: inline-block;
    padding: 0 4px;
    min-width: 54px;
    height: 24px;
    color: #fff;
    line-height: 26px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto';
    border-radius: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.rank_2020_wrap .rank_2020_list_ty2 dl dd {
    padding: 28px 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.ic_2020_vip {
    background-image: url('../img/2020_vip.png');
    background-position: center 21px;
}
.txt_2020_rank1 {background-color: #675448;}
.rank_2020_wrap .rank_2020_list_ty2 dl dd em {font-family: "Roboto";}

.ic_2020_vvip {
    background-image: url('../img/2020_vvip.png');
    background-position: center 20px;
}
.txt_2020_rank2 {background-color: #969697;}

.ic_2020_gold {
    background-image: url('../img/2020_gold.png');
    background-position: center 16px;
}
.txt_2020_rank3 {background-color: #756023;}

.ic_2020_platinum {
    background-image: url('../img/2020_platinum.png');
    background-position: center 15px;
}
.txt_2020_rank4 {background-color: #000;}

.benefit_wrap {margin-top: 60px;}
.benefit_wrap > .tit {font-size: 18px;}
.benefit_wrap .benefit_box_ty2 {margin-top: 60px;}
.benefit_wrap .benefit_box_ty2 > li {
    position: relative;
    float: left;
    padding: 56px 25px 30px;
    width: 230px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ic_rank_vip, .ic_rank_vvip, .ic_rank_gold, .ic_rank_platinum {box-shadow: 0px 5px 10px 3px #e6e6e6;}
.ic_rank_vip {
    color: #666;
    background: url('../img/ic_rank_vip3.png') #fff no-repeat center 23px;
}
[class^="ic_rank_"] {
    position: absolute;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    padding-top: 45px;
    width: 80px;
    height: 80px;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 80px;
    border: 1px solid #999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.benefit_wrap .benefit_box_ty2 .benefit .tit {
    padding-bottom: 8px;
    font-size: 15px;
    border-bottom: 1px solid #000;
}
.benefit_wrap .benefit_box_ty2 .benefit .tit span {
    margin-left: 5px;
    font-size: 11px;
}
.benefit_wrap .benefit_box_ty2 strong + .benefit .tit + .list.type1 {min-height: 40px;}
.benefit_wrap .benefit_box_ty2 strong + .benefit .tit + .list {min-height: 70px;}
.benefit_wrap .benefit_box_ty2 .benefit .tit + .list {padding-top: 12px;}
.benefit_wrap .benefit_box_ty2 .benefit .list {
    padding-left: 6px;
    padding-right: 12px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list li {
    position: relative;
    line-height: 25px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list strong {font-size: 13px;}
.benefit_wrap .benefit_box_ty2 .benefit .list strong::before  {
    display: inline-block;
    content: "·";
    padding-right: 4px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span::before {
    content: '';
    position: absolute;
    right: 26px;
    top: 7px;
    width: 9px;
    height: 9px;
    background: url('../img/cross_11.png') no-repeat;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span em {
    font-size: 18px;
    font-family: "Roboto";
}
.benefit_wrap .benefit_box_ty2 .benefit .list li ~ li {margin-top: 4px;}

.benefit_wrap .benefit_box_ty2 .benefit + .benefit {margin-top: 28px;}

.benefit_wrap .benefit_box_ty2 > li ~ li {margin-left: 19px;}
.benefit_wrap .benefit_box_ty2 > li {
    position: relative;
    float: left;
    padding: 56px 25px 30px;
    width: 230px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ic_rank_vvip {
    color: #666;
    background: url('../img/ic_rank_vvip.png') #fff no-repeat center 21px;
}
.ic_rank_gold {
    color: #756023;
    background: url('../img/ic_rank_gold.png') #fff no-repeat center 17px;
}
.ic_rank_platinum {
    color: #000;
    background: url('../img/ic_rank_platinum.png') #fff no-repeat center 16px;
}
.benefit_wrap .benefit_box_ty2::after {
    display: block;
    content: '';
    clear: both;
}


.mypage_event_box_ty2 {
    margin-top: 100px;
    padding-left: 140px;
    height: 255px;
    background: url('../img/bg_vip_event.jpg') repeat;
}
.mypage_event_box_ty2 li {
    float: left;
    width: 200px;
    padding-left: 70px;
}
.mypage_event_box_ty2 li:first-child {padding-left: 0;}
.mypage_event_box_ty2 li a {
    display: block;
    position: relative;
    padding-top: 110px;
}
.mypage_event_box_ty2 li .thm {
    position: absolute;
    left: 0;
    top: -40px;
}
.mypage_event_box_ty2 li .num {
    display: block;
    width: 42px;
    height: 17px;
    color: #fff;
    line-height: 17px;
    font-size: 11px;
    text-align: center;
    background-color: #786D4C;
}
.mypage_event_box_ty2 li em {
    font-family: "Roboto";
    letter-spacing: 0;
}
.mypage_event_box_ty2 li .cont {
    margin-top: 8px;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -.5px;
}
.mypage_event_box_ty2 li .cont .tip {
    display: block;
    margin-top: 8px;
    font-size: 11px;
    font-family: "Roboto";
    letter-spacing: 0;
    line-height: 15px;
}
.mypage_event_box_ty2::after {
    display: block;
    content: '';
    clear: both;
}

.contents_vipzone .txt_list_wrap {margin-top: 60px;}
.txt_list_wrap > .tit {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
}
.txt_list_wrap > .tit em {font-family: 'Roboto';}
.list_bdr_box {
    padding: 30px 25px;
    line-height: 17px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.list_txt {font-size: 13px;}
.list_bdr_box .list_txt > p, .list_bdr_box .list_txt > li {letter-spacing: -.5px;}
.list_txt > li {
    line-height: 1.4;
    margin: 0 0 5px 8px;
    text-indent: -8px;
    color: #333;
}
.list_txt > li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 5px 0 0;
    border-radius: 50%;
    vertical-align: top;
    background-color: #666;
}


/* lottecinema - membervip */
#contents.contents_vipzone:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 114px;
    height: 280px;
    background: url('../img/bg_vipzone.jpg') repeat-x;
}
#contents.contents_vipzone > .vip_title {
    margin-bottom: 50px;
    text-align: center;
}
.vip_top_infor {
    overflow: hidden;
    position: relative;
    margin: 0 auto 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background-color: #FFF;
}
.vip_top_infor .nomem_page_box {
    margin: 40px 38px 62px;
}
.vip_top_infor .nomem_page_box .user_info .bx_con {
    margin-bottom: 20px;
    text-align: center;
}
.vip_top_infor .nomem_page_box .user_info .bx_con .profile_img {
    display: none;
    overflow: hidden;
    width: 75px;
    height: 75px;
    margin: 0 auto 8px;
}
.profile_img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    overflow: hidden;
}
.profile_img img {width: 100%;}
.vip_top_infor .nomem_page_box .user_info .bx_con .txt {
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 18px;
    color: #666;
}
.vip_top_infor .nomem_page_box .user_info .bx_con .txt strong {
    font-weight: bold;
    color: #000;
}
.btn_col3.rnd {border-radius: 52px;}
.btn_col3.ty3 {
    height: 28px;
    line-height: 26px;
    padding: 0 14px;
}
.vip_top_infor .nomem_page_box .user_info .bx_btm {
    position: relative;
    text-align: center;
}
.vip_top_infor .nomem_page_box .user_info .bx_btm .btn_lnk2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
a.btn_lnk2 {
    border-bottom: 1px solid #666;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
}

.rank_2020_wrap {margin-top: 50px;}
.rank_2020_wrap > .tit {font-size: 18px;}
.rank_2020_wrap .rank_2020_list_ty2 {
    position: relative;
    margin-top: 20px;
    border-top: 1px solid #bbb;
}
.rank_2020_wrap .rank_2020_list_ty2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 79px;
    width: 100%;
    height: 1px;
    background-color: #bbb;
}
.rank_2020_wrap .rank_2020_list_ty2 dl.tit {width: 12%;}
.rank_2020_wrap .rank_2020_list_ty2 dl {
    float: left;
    width: 22%;
    text-align: center;
}
.rank_2020_wrap .rank_2020_list_ty2 dl dt {
    margin-bottom: 16px;
    padding-top: 40px;
}
[class^="ic_2020_"] {background-repeat: no-repeat;}
[class*="txt_2020_rank"] {
    display: inline-block;
    padding: 0 4px;
    min-width: 54px;
    height: 24px;
    color: #fff;
    line-height: 26px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto';
    border-radius: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.rank_2020_wrap .rank_2020_list_ty2 dl dd {
    padding: 28px 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.ic_2020_vip {
    background-image: url('../img/2020_vip.png');
    background-position: center 21px;
}
.txt_2020_rank1 {background-color: #675448;}
.rank_2020_wrap .rank_2020_list_ty2 dl dd em {font-family: "Roboto";}

.ic_2020_vvip {
    background-image: url('../img/2020_vvip.png');
    background-position: center 20px;
}
.txt_2020_rank2 {background-color: #969697;}

.ic_2020_gold {
    background-image: url('../img/2020_gold.png');
    background-position: center 16px;
}
.txt_2020_rank3 {background-color: #756023;}

.ic_2020_platinum {
    background-image: url('../img/2020_platinum.png');
    background-position: center 15px;
}
.txt_2020_rank4 {background-color: #000;}

.benefit_wrap {margin-top: 60px;}
.benefit_wrap > .tit {font-size: 18px;}
.benefit_wrap .benefit_box_ty2 {margin-top: 60px;}
.benefit_wrap .benefit_box_ty2 > li {
    position: relative;
    float: left;
    padding: 56px 25px 30px;
    width: 230px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ic_rank_vip, .ic_rank_vvip, .ic_rank_gold, .ic_rank_platinum {box-shadow: 0px 5px 10px 3px #e6e6e6;}
.ic_rank_vip {
    color: #666;
    background: url('../img/ic_rank_vip3.png') #fff no-repeat center 23px;
}
[class^="ic_rank_"] {
    position: absolute;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    padding-top: 45px;
    width: 80px;
    height: 80px;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 80px;
    border: 1px solid #999;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.benefit_wrap .benefit_box_ty2 .benefit .tit {
    padding-bottom: 8px;
    font-size: 15px;
    border-bottom: 1px solid #000;
}
.benefit_wrap .benefit_box_ty2 .benefit .tit span {
    margin-left: 5px;
    font-size: 11px;
}
.benefit_wrap .benefit_box_ty2 strong + .benefit .tit + .list.type1 {min-height: 40px;}
.benefit_wrap .benefit_box_ty2 strong + .benefit .tit + .list {min-height: 70px;}
.benefit_wrap .benefit_box_ty2 .benefit .tit + .list {padding-top: 12px;}
.benefit_wrap .benefit_box_ty2 .benefit .list {
    padding-left: 6px;
    padding-right: 12px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list li {
    position: relative;
    line-height: 25px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list strong {font-size: 13px;}
.benefit_wrap .benefit_box_ty2 .benefit .list strong::before  {
    display: inline-block;
    content: "·";
    padding-right: 4px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span::before {
    content: '';
    position: absolute;
    right: 26px;
    top: 7px;
    width: 9px;
    height: 9px;
    background: url('../img/cross_11.png') no-repeat;
}
.benefit_wrap .benefit_box_ty2 .benefit .list span em {
    font-size: 18px;
    font-family: "Roboto";
}
.benefit_wrap .benefit_box_ty2 .benefit .list li ~ li {margin-top: 4px;}

.benefit_wrap .benefit_box_ty2 .benefit + .benefit {margin-top: 28px;}

.benefit_wrap .benefit_box_ty2 > li ~ li {margin-left: 19px;}
.benefit_wrap .benefit_box_ty2 > li {
    position: relative;
    float: left;
    padding: 56px 25px 30px;
    width: 230px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ic_rank_vvip {
    color: #666;
    background: url('../img/ic_rank_vvip.png') #fff no-repeat center 21px;
}
.ic_rank_gold {
    color: #756023;
    background: url('../img/ic_rank_gold.png') #fff no-repeat center 17px;
}
.ic_rank_platinum {
    color: #000;
    background: url('../img/ic_rank_platinum.png') #fff no-repeat center 16px;
}
.benefit_wrap .benefit_box_ty2::after {
    display: block;
    content: '';
    clear: both;
}


.mypage_event_box_ty2 {
    margin-top: 100px;
    padding-left: 140px;
    height: 255px;
    background: url('../img/bg_vip_event.jpg') repeat;
}
.mypage_event_box_ty2 li {
    float: left;
    width: 200px;
    padding-left: 70px;
}
.mypage_event_box_ty2 li:first-child {padding-left: 0;}
.mypage_event_box_ty2 li a {
    display: block;
    position: relative;
    padding-top: 110px;
}
.mypage_event_box_ty2 li .thm {
    position: absolute;
    left: 0;
    top: -40px;
}
.mypage_event_box_ty2 li .num {
    display: block;
    width: 42px;
    height: 17px;
    color: #fff;
    line-height: 17px;
    font-size: 11px;
    text-align: center;
    background-color: #786D4C;
}
.mypage_event_box_ty2 li em {
    font-family: "Roboto";
    letter-spacing: 0;
}
.mypage_event_box_ty2 li .cont {
    margin-top: 8px;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: -.5px;
}
.mypage_event_box_ty2 li .cont .tip {
    display: block;
    margin-top: 8px;
    font-size: 11px;
    font-family: "Roboto";
    letter-spacing: 0;
    line-height: 15px;
}
.mypage_event_box_ty2::after {
    display: block;
    content: '';
    clear: both;
}

.contents_vipzone .txt_list_wrap {margin-top: 60px;}
.txt_list_wrap > .tit {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
}
.txt_list_wrap > .tit em {font-family: 'Roboto';}
.list_bdr_box {
    padding: 30px 25px;
    line-height: 17px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.list_txt {font-size: 13px;}
.list_bdr_box .list_txt > p, .list_bdr_box .list_txt > li {letter-spacing: -.5px;}
.list_txt > li {
    line-height: 1.4;
    margin: 0 0 5px 8px;
    text-indent: -8px;
    color: #333;
}
.list_txt > li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 8px 5px 0 0;
    border-radius: 50%;
    vertical-align: top;
    background-color: #666;
}
.list_bdr_box .list_txt + .tit {margin-top: 30px;}